.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url(troca-de-oleo.webp);
  background-size: cover;
  background-position: center;
  h1{
    color: aliceblue;
    text-align: center;
    font-size: 8vw;//9em
    margin-top: 30px;
    padding: 0 10px;
  }
  p{
    width: 90vw;
    color: aliceblue;
    font-size: 5.3vw;//6
    text-align: center;
    margin-top: 18px;
    line-height: 1.8em;
  }
  .banner-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid aliceblue;
    padding: 10px 20px;
    .banner-text {
      display: flex;
      flex-direction: column;
      color: aliceblue;
      font-size: 4.3vw;//4em
      margin-right: 30px;//50px
      gap: 5px;
    }
    .banner-ticket-preco{
      display: flex;
      flex-direction: column;
      color: aliceblue;
      .text-span{
        font-size: 3em;//3.5em
        font-weight: 700;
      }
      .wrapper-120{
        color: rgb(6, 230, 6);
        font-size: 5.6em;//9.6em
        font-weight: 800;
      }
      .wrapper-00{
        color: rgb(6, 230, 6);
        font-size: 4em;//6em
        font-weight: 800;
      }
    }
  }
  @media(min-width: 375px){
    h1{
      font-size: 8.1vw;//9em
      font-weight: 800;
    }
    p{
      font-size: 4.4vw;//6
      line-height: 1.4em;
    }
    .banner-wrapper{
      .banner-text {
        font-size: 4.3vw;//4em
        margin-right: 30px;//50px
        gap: 5px;
      }
      .banner-ticket-preco{
        display: flex;
        flex-direction: column;
        color: aliceblue;
        .text-span span{
          font-size: 3vw;//3.5em
          font-weight: 700;
        }
        .wrapper-120{
          color: rgb(6, 230, 6);
          font-size: 9vw;//9.6em
          font-weight: 800;
        }
        .wrapper-00{
          color: rgb(6, 230, 6);
          font-size: 4em;//6em
          font-weight: 800;
        }
      }
    }
  }
  @media (min-width: 675px){
    h1{
      max-width: 90vw;
      font-size: 7vw;//9em
      font-weight: 800;
    }
    p{
      max-width: 80vw;
      font-size: 3.5vw;//6
      line-height: 1.4em;
    }
    .banner-wrapper{
      .banner-text {
        font-size: 3vw;//4em
        margin-right: 30px;//50px
        gap: 5px;
      }
      .banner-ticket-preco{
        display: flex;
        flex-direction: column;
        color: aliceblue;
        .text-span span{
          font-size: 3vw;//3.5em
          font-weight: 700;
        }
        .wrapper-120{
          color: rgb(6, 230, 6);
          font-size: 9vw;//9.6em
          font-weight: 800;
        }
        .wrapper-00{
          color: rgb(6, 230, 6);
          font-size: 4em;//6em
          font-weight: 800;
        }
      }
    }
  }
  @media(min-width: 900px){
    h1{
      max-width: 90vw;
      font-size: 4.5vw;//9em
      font-weight: 800;
    }
    p{
      max-width: 80vw;
      font-size: 2.5vw;//6
      line-height: 1.4em;
    }
    .banner-wrapper{
      .banner-text {
        font-size: 2vw;//4em
        margin-right: 30px;//50px
        gap: 5px;
      }
      .banner-ticket-preco{
        display: flex;
        flex-direction: column;
        color: aliceblue;
        .text-span span{
          font-size: 3vw;//3.5em
          font-weight: 700;
        }
        .wrapper-120{
          color: rgb(6, 230, 6);
          font-size: 4vw;//9.6em
          font-weight: 800;
        }
        .wrapper-00{
          color: rgb(6, 230, 6);
          font-size: 4em;//6em
          font-weight: 800;
        }
      }
    }
  }
}
.wrapper-catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  h2 {
    margin-top: 50px;
    text-align: center;
    line-height: 45px;
    font-size: 7em;
    color: red;
  }

  p {
    margin: 10px;
    font-size: 3em;
    color: #4C6DC2;
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px 10px 0;

    .card-prod {
      border: 2px solid #6C6C6C;
      height: 400px;
      width: 300px;
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      img {
        height: 300px;
        border-radius: 14px;
      }

      a {
        margin-top: 20px;
        text-align: center;
        font-size: 4em;
        color: #4C6DC2;

        &:hover {
          text-align: center;
          font-size: 4em;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .logo-wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 80vw;

    .img_1 {
      height: 100px;
    }
    .img_2{
      height: 100px;
    }
    .img_4 {
      height: 100px;
    }

    .img_5 {
      height: 100px;
    }

    .img_3 {
      height: 50px;
    }
  }
}
@media(min-width:600px){

  .wrapper-catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
  
    h2 {
      margin-top: 50px;
      font-size: 9.3em;
      line-height: 60px;
      color: red;
    }
  
    p {
      margin: 10px;
      font-size: 5em;
      color: #4C6DC2;
    }
  
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 15px 10px 0;
  
      .card-prod {
        border: 2px solid #6C6C6C;
        height: 450px;
        width: 400px;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
  
        img {
          height: 350px;
          border-radius: 14px;
        }
  
        a {
          margin-top: 20px;
          text-align: center;
          font-size: 4em;
          color: #4C6DC2;
  
          &:hover {
            text-align: center;
            font-size: 4em;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  
    .logo-wrapper {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
  
      .img_1 {
        height: 100px;
      }
  
      .img_4 {
        height: 100px;
      }
  
      .img_5 {
        height: 100px;
      }
  
      .img_3 {
        height: 50px;
      }
    }
  }
}


@media(min-width:900px){

  .wrapper-catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  
    h2 {
      margin-top: 50px;
      font-size: 9.3em;
      color: red;
    }
  
    p {
      margin-top: 2px;
      font-size: 5em;
      color: #4C6DC2;
    }
  
    .cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10%;
      margin: 50px 50px 0;
  
      .card-prod {
        border: 2px solid #6C6C6C;
        height: 300px;
        width: 300px;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
  
        img {
          height: 200px;
          border-radius: 14px;
        }
  
        a {
          margin-top: 20px;
          text-align: center;
          font-size: 4em;
          color: #4C6DC2;
  
          &:hover {
            text-align: center;
            font-size: 4em;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  
    .logo-wrapper {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2%;
  
      .img_1 {
        height: 150px;
      }
  
      .img_4 {
        height: 150px;
      }
  
      .img_5 {
        height: 150px;
      }
  
      .img_3 {
        height: 120px;
      }
    }
  }
}
