.button{
    background-color:rgb(195, 15, 15);
    color: aliceblue;
    border: 3px solid rgb(195, 15, 15);
    background-color: transparent;
    color: rgb(195, 15, 15);
    padding: 10px 20px;
    font-size: 5em;
    border-radius: 5px;
    margin-top: 50px;
}
.button:hover{
    background-color:rgb(195, 15, 15);
    color: aliceblue;
    transition: .5s;
    cursor: pointer;
}